---
import Search from "astro-pagefind/components/Search";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("./blog/*.mdx");
---

<Layout title="Help Center">
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl">
        Welcome. How can we help?
      </h1>
      <div class="mt-8 max-w-3xl mx-auto">
        <div class="relative">
          <Search
            id="search"
            className="pagefind-ui"
            uiOptions={{
              showImages: false,
              translations: {
                placeholder: "Search for Articles...",
              },
            }}
          />
        </div>
      </div>
    </div>

    <div class="mt-16">
      <h2 class="text-2xl font-bold text-gray-900 mb-8">Popular Articles</h2>
      <div class="grid gap-6 lg:grid-cols-2">
        {
          posts.map((post) => (
            <a
              href={post.url}
              class="block p-6 bg-white rounded-lg border hover:shadow-lg transition  article-card"
              data-title={post.frontmatter.title?.toLowerCase()}
              data-description={post.frontmatter.description?.toLowerCase()}
            >
              <h2 class="text-xl font-semibold text-gray-900">
                {post.frontmatter.title}
              </h2>
              <p class="mt-2 text-gray-600">{post.frontmatter.description}</p>
            </a>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
